/* Responsive  
 1re=1em=16rem 
*/
/* 
***********************
1300px/16= 84em
screen size below (1344px),smaller desktops
***********************
*/
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary,
  .heading-primary-2 {
    font-size: 5rem;
  }
}

/***********************
1200px/16= 75em
screen size below (1200px),landscap tabs
***********************
*/
@media (max-width: 75em) {
  html {
    /* 9px  16px =0.5625 */
    font-size: 56.25%;
  }
}

/***********************
944px/16= 59em
screen size below (944px), tablets
***********************
*/
@media (max-width: 59em) {
  html {
    /* 8px/  16px =0.50 */
    font-size: 50%;
  }

  .hero,
  .margin-center-about {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    gap: 0;
  }
  .hero-img,
  .about-img {
    width: 50%;
    height: auto;
    align-items: center;
  }
  .hero-img-box::before {
    width: 30%;
    left: 40%;
  }
  .hero-img-box::after {
    left: 59%;
  }
  .small-circle {
    top: 50%;
    right: 30%;
  }
  .circle {
    top: 47%;
    right: 17%;
  }
  .circle-5 {
    top: 44%;
    right: 2%;
  }
  .oval {
    top: 64%;
    right: 22%;
  }
  .oval-2 {
    top: 80%;
    right: 12%;
  }
  .circle-bright {
    top: 47%;
    right: 25%;
  }
  .hero-text {
    margin-left: 30%;
  }

  .section-about {
    height: auto;
    padding: 4.8rem;
  }
  .about-img-box {
    margin-bottom: 10rem;
    width: auto;
    height: 35rem;
  }
  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }
  main {
    position: relative;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    /* display: none; */
    /* 1) hide it visualy */
    opacity: 0;
    /*2)  hide it unaccessable to mouse and keybord */
    pointer-events: none;
    /* 3) hide it from screen readers */
    visibility: hidden;

    transition: all 1s ease-in;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    top: 0;
    right: 0;
    color: #071343;
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .nav-list {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
  .nav-item:link,
  .nav-item:visited {
    color: #071343;
    font-size: 3.2rem;
    transition: all 0.3s;
  }
  .nav-item:hover,
  .nav-item:active {
    color: #00cbfb;
  }
  .nav-border {
    border-left: none;
    padding-left: 0;
  }
  .section-product {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }
  .product-img {
    width: 60%;
  }
  .product-img-box {
    text-align: center;
    margin-bottom: 10rem;
    width: auto;
    height: 35rem;
  }
  td {
    font-size: 3rem;
  }
  .product-content {
    width: 100%;
  }
  .margin-center-shop {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }
  .top-div {
    height: 15rem;
  }
  .contain-2-divs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8rem;
  }

  .shop-heading {
    margin-bottom: 0;
    font-size: 4rem;
  }

  .shop-heading,
  .brand-heading {
    border-bottom: 1px solid #fff;
  }
  .brand-heading {
    font-size: 4rem;
  }

  .shop-img {
    display: none;
  }

  .marging-center-service {
    gap: 0.2rem;
  }
  .services-img {
    width: 100%;
  }
  .services-text p:nth-child(2) {
    border-left: 1px solid #fff;
  }
  .section-services {
    padding: 6.5rem;
  }
  .services-text {
    font-size: 1.5rem;
    line-height: 1.2;
    color: #ffffff;
  }
}

/***********************
704px/16= 44em
screen size below (704px), smaller tablets
***********************
*/

@media (max-width: 44em) {
  .small-circle {
    top: 53%;
    right: 30%;
  }
  .brands img {
    height: 8rem;
    width: 12rem;
  }
  .section-product {
    height: auto;

    padding-bottom: 0.1rem;
  }
  .section-about {
    padding-bottom: 0.1rem;
    height: auto;
  }
  .section-services {
    padding-bottom: 0.1rem;
    height: auto;
  }
  .section-contact {
    padding-bottom: 0.1rem;
    height: auto;
  }
  .hero-img {
    width: 60%;
  }
  .section-shop {
    padding-bottom: 4.8rem;
    height: auto;
  }
}

/***********************
544px/16= 34em
screen size below (544px), smart phones
***********************
*/
@media (max-width: 44em) {
  html {
    /* 8px/  16px =0.50 */
    font-size: 40%;
  }
  .hero-text {
    padding-left: 1rem;
    margin: 0;
    width: 100%;
  }
  .small-circle,
  .circle,
  .circle-5,
  .oval,
  .oval-2,
  .circle-bright {
    display: none;
  }
  .brands img {
    height: 8rem;
    width: 12rem;
  }
  .section-hero {
    text-align: center;
  }
  input[type="text"] {
    font-size: 1.4rem;
  }
  .primary-weight {
    font-size: 3.2rem !important;
  }
  .btn--1:link,
  .btn--1:visited {
    font-size: 1.8rem;
  }
  .shop-text {
    font-size: 1.4rem;
    letter-spacing: -0.5px;
  }
  .div1,
  .div2,
  .div3,
  .div4 {
    width: 10rem;
    justify-self: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 1rem !important;
  }
  .btn-1:link,
  .btn-1:visited {
    font-size: 3rem !important;
  }
  .product-img-box,
  .about-img-box {
    margin-bottom: 0;
  }
  .brands img:nth-child(-n + 4) {
    grid-row: 1;
    grid-column: span 1;
  }
  .brands img {
    justify-self: center;
  }
  .brands img:nth-child(n + 5) {
    grid-row: 2;
    grid-column: span 1;
  }
  .contact-content-2 {
    margin: 0;
  }
  .contact-num-reft-border {
    border-left: 1px solid #071343;
    padding-left: 0.2rem;
  }
  .contact-text {
    font-size: 1.5rem;
  }
  .marging-center {
    grid-template-columns: 1fr;
  }
  .marging-center-service {
    grid-template-columns: 1fr;
  }
  .hero-text {
    padding: 2rem;
  }
  .sectiion-shop {
    height: auto;
  }
  .shop-items {
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    row-gap: 1rem;
  }
  .div-brand {
    margin-top: 18rem !important;
  }
}
